*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    background-color: navy;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header i{
    color: orangered;
    font-size: 20px;
}
header i:hover{
    color: #fff;
}

nav{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    color: navy;
    font-size: 50px;
    font-weight: bolder;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
.menu a:hover{
    color: navy;
}

.donate-now{
    background-color: orangered;
    border: 2px orangered solid;
    color: #fff;
    border-radius: 50px;
    font-weight: bolder;
    padding: 10px;
}
.donate-now:hover{
    background-color: transparent;
    color: orangered;
}
.hero{
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2020/07/28/16/29/friends-5445608_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    padding: 25px;
    color: #fff;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero h1{
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.hero p{
    margin-bottom: 1rem;
}

.join-us{
    background-color: orangered;
    border: 2px orangered solid;
    color: #fff;
    border-radius: 5px;
    font-weight: bolder;
    padding: 10px 20px;
}

.donate{
    background-color: transparent;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
    border-right: none;
    border-left: none;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
}

.reason-cards{
    position: relative;
    top: -120px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px 0;
}

.reason-card{
    text-align: center;
    width: 20%;
    min-width: 220px;
    background-color: navy;
    color:#fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.reason-card .icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 0 auto 12px;
    background-color: orangered;
    border-radius: 50%;
}

.reason-card .icon-wrapper i{
    font-size: 26px;
    color: navy;
}
.reason-card h2{
    margin-bottom: 10px;
}

.mission-section{
    position: relative;
    top: -70px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.our-mission{
    text-align: center;
    margin-top: 40px;
    color: orangered;
}

.line{
    background-color: rgb(78, 77, 77);
    border-radius: 20px;
    width: 100px;
    height: 5px;
    margin: 5px auto;
}

.our-mission p{
    margin: 0 auto;
    line-height: 1.6;
    font-size: 1.1em;
    color: #333;
    margin-top: 20px;
}

.sub-hero{
    background-image: url("https://cdn.pixabay.com/photo/2020/07/28/16/32/friends-5445618_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -50px;
    color: #fff;
    /* text-align: center; */
    padding: 70px 20px;
}

.sub-hero .row{
    display: flex;
    align-items: center;
}
.sub-hero h1{
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: left;
}
.sub-hero p{
    font-size: 1.2em;
    margin-bottom: 30px;
    width: 70%;
}
.sub-hero .learn-more{
    font-size: 1.2em;
    padding: 15px 30px;
    background-color: orangered;
    color: #fff;
    border-radius: 50px;
    border: none;
    
}

.about-us{
    padding: 20px 20px;
    text-align: center;
    color: navy;
    margin-top: -40px;
}

.about-text{
    max-width: 800px;
    margin: 0 auto 30px;
    line-height: 1.6;
    font-size: 1.1em;
    color: #333;
    text-align: center;
}

.about-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
.about-card{
    max-width: 350px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.about-card i{
    font-size: 50px;
    margin-bottom: 15px;
}

.causes-catalog{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top: -30px;
}
.catalog-item{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.welcome-section{
    background-color: #ccc;
    padding: 50px 20px;
    margin: 1rem 0;
}
